@keyframes BackgroundGradient {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

#root {
  display: grid;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: aqua;
  justify-content: center;
}

.pageContainer {
  display: grid;
}

.pokemonList {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 5px;
  padding: 5px;
  justify-content: center;
}

.pokeContainer {
  display: grid;
  border: 1px solid black;
}

.pokeCard {
  display: grid;
  justify-items: center;
  color: white;
  background-color: green;
}

.pokeList {
  width: 100px;
  height: 100px;
}

.pokeName {
  text-transform: capitalize;
}

#detailsContainer {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  grid-template-rows: 50px 225px 375px;
  color: white;


  #goBackBtn {
    grid-column: 1;
    grid-row:1;
    width: 100px;
    height: 75px;
    justify-self: start;
    background-color: white;

  }

  #biography {
    grid-row:2;
    grid-column: 4;
    width: 250px;
  }

  #baseStats {
    grid-row:3;
    grid-column: 4;
   align-self: start;
    width: 250px;
  }

  #pokemonImage {
    grid-column-start: 1;
    position: fixed;
    grid-row:2;
    height: 400px;
    top: 22%;
    left: 27%;
  }

  #detailsName {
    grid-row:3;
    grid-column: 3;
    padding-left: 125px;
    width: 250px;
  }

  .moves {
    grid-row:2;
    grid-column: 1;
    width: 250px;
  }

}
.pokeHeader{
  display:flex;
  height: 200px;
  justify-content: center;
}
#pokeLogo{
  height: 200px;
  width: 250px;
  align-self: start;

}

.grass{
  background: linear-gradient(to top, green, black);
}

.grass.detailsTrue{
  background: linear-gradient(132deg, green, black);
  background-size: 400% 400%;
  animation: BackgroundGradient 5s ease infinite;
}

.fire{
  background: linear-gradient(to top, red, black);
}

.fire.detailsTrue{
  background: linear-gradient(132deg, red, black);
  background-size: 400% 400%;
  animation: BackgroundGradient 5s ease infinite;
}

.water{
  background: linear-gradient(to top, blue , black);
}

.water.detailsTrue{
  background: linear-gradient(132deg, blue, black);
  background-size: 400% 400%;
  animation: BackgroundGradient 5s ease infinite;
}

.bug{
  background: linear-gradient(to top, yellowgreen, black);
}

.bug.detailsTrue{
  background: linear-gradient(132deg, yellowgreen, black);
  background-size: 400% 400%;
  animation: BackgroundGradient 5s ease infinite;
}

.normal{
  background: linear-gradient(to top, tan, black);
}

.normal.detailsTrue{
  background: linear-gradient(132deg, tan, black);
  background-size: 400% 400%;
  animation: BackgroundGradient 5s ease infinite;
}

.ghost{
  background: linear-gradient(to top, purple, black);
}

.ghost.detailsTrue{
  background: linear-gradient(132deg, purple, black);
  background-size: 400% 400%;
  animation: BackgroundGradient 5s ease infinite;
}

.psychic{
  background: linear-gradient(to top, pink, black);
}

.psychic.detailsTrue{
  background: linear-gradient(132deg,pink, black);
  background-size: 400% 400%;
  animation: BackgroundGradient 5s ease infinite;
}

.dark{
  background: linear-gradient(to top, rgb(21, 21, 21), black);
}

.dark.detailsTrue{
  background: linear-gradient(132deg,rgb(21, 21, 21), black);
  background-size: 400% 400%;
  animation: BackgroundGradient 5s ease infinite;
}

.dragon{
  background: linear-gradient(to top, orange, black);
}

.dragon.detailsTrue{
  background: linear-gradient(132deg, orange, black);
  background-size: 400% 400%;
  animation: BackgroundGradient 5s ease infinite;
}

.ice{
  background: linear-gradient(to top, lightblue, black);
}

.ice.detailsTrue{
  background: linear-gradient(132deg, lightblue, black);
  background-size: 400% 400%;
  animation: BackgroundGradient 5s ease infinite;
}

.rock{
  background: linear-gradient(to top, brown, black);
}

.rock.detailsTrue{
  background: linear-gradient(132deg, brown, black);
  background-size: 400% 400%;
  animation: BackgroundGradient 5s ease infinite;
}
.fairy{
  background: linear-gradient(to top, pink, black);
}

.fairy.detailsTrue{
  background: linear-gradient(132deg, pink, black);
  background-size: 400% 400%;
  animation: BackgroundGradient 5s ease infinite;
}

.electric{
  background: linear-gradient(to top, yellow, black);
}

.electric.detailsTrue{
  background: linear-gradient(132deg,yellow, black);
  background-size: 400% 400%;
  animation: BackgroundGradient 5s ease infinite;
}

.ground{
  background: linear-gradient(to top, rgb(169, 101, 13), black);
}

.ground.detailsTrue{
  background: linear-gradient(132deg,rgb(169, 101, 13), black);
  background-size: 400% 400%;
  animation: BackgroundGradient 5s ease infinite;
}

.fighting{
  background: linear-gradient(to top, red, black);
}

.fighting.detailsTrue{
  background: linear-gradient(132deg,red, black);
  background-size: 400% 400%;
  animation: BackgroundGradient 5s ease infinite;
}

/* .steel{
  background: linear-gradient(to top, silver, black);
} */

.poison{
  background: linear-gradient(to top, violet, black);
}

.poison.detailsTrue{
  background: linear-gradient(132deg, violet, black);
  background-size: 400% 400%;
  animation: BackgroundGradient 5s ease infinite;
}
