.pageContainer {
  display: grid;
}

#root {
  display: grid;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: aqua;
}
.pokemonList {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 5px;
  padding: 5px;
}

.pokeContainer {
  display: grid;
  border: 1px solid black;
}

.pokeCard {
  display: grid;
  justify-items: center;
  background-color: green;
}

.pokeList {
  width: 100px;
  height: 100px;
}

.pokeName {
  text-transform: capitalize;
}
